body {
    background-color: #eef1f6;
}

.container {
    background-color: #d7e4ed;
    /* other styles */
}

button {
    border-radius: 15px; /* for rounded edges */
    /* other styles */
}

textarea {
    resize: vertical; /* allows vertical resizing */
    /* other styles */
}

.highlight-pink {
    background-color: #eedad7; /* light pink background */
}


button {
    display: block;
    background-color: #e6e1e5;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 25px; /* Rounded edges */
}

button:hover {
    background-color: #eedad7; /* Light pink on hover */
}

/* Additional styles for better visuals */
h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.container {
    background-color: #eef1f6; /* Color from the logo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
